@import './vars';

.header {
	display: flex;
	height: 100vh;
	width: 100%;
	overflow: hidden;
		// .header__item
	&__item {
		flex: 0 1 50%;
		
		&.image__item {
			background: url('../img/bg.jpg') center / cover no-repeat;
		}

		&.info__item {
			padding: 65px 100px;
			display: flex;
			flex-direction: column;
		}
	}
}
.logo {
	padding-bottom: 89px;
	display: flex;
}

// header__btn
.header__btn {
	margin-top: 40px;
	padding: 18px 30px;
	background-color: $red;
    display: inline-flex;
    align-items: center;
    gap: 40px;
    font-weight: 494;
	font-size: 22px;
	line-height: 24px;
	color: $white;
    max-width: fit-content;
}
.link {
	margin-top: auto;
	font-style: normal;
	font-weight: 375;
	font-size: 18px;
	line-height: 20px;
	color: $gray;
	a {
		color: $red;
	}
}
