.header {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.header__item {
  flex: 0 1 50%;
}
.header__item.image__item {
  background: url("../img/bg.jpg") center/cover no-repeat;
}
.header__item.info__item {
  padding: 65px 100px;
  display: flex;
  flex-direction: column;
}

.logo {
  padding-bottom: 89px;
  display: flex;
}

.header__btn {
  margin-top: 40px;
  padding: 18px 30px;
  background-color: #EB3D35;
  display: inline-flex;
  align-items: center;
  gap: 40px;
  font-weight: 494;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.link {
  margin-top: auto;
  font-style: normal;
  font-weight: 375;
  font-size: 18px;
  line-height: 20px;
  color: #747887;
}
.link a {
  color: #EB3D35;
}

body {
  font-family: "Author", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  padding: 50px 200px;
}

.btn__outline {
  padding: 18px 48px;
  border: 1px solid #E5E4E1;
  font-style: normal;
  font-weight: 494;
  font-size: 22px;
  line-height: 24px;
  color: #051655;
  background: #ffffff;
}
.btn__outline:hover {
  background: #051655;
  transition: 0.3s all ease;
  color: #ffffff;
}

.btn {
  background-color: #EB3D35;
  padding: 18px 48px;
  display: inline-flex;
  align-items: center;
  gap: 40px;
  font-weight: 494;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.btn svg {
  transition: 0.3s all ease;
}
.btn:hover {
  background: #b30101;
  transition: 0.3s all ease;
}
.btn:hover svg {
  transform: translate(10px);
}

.section__title {
  font-style: normal;
  font-weight: 494;
  font-size: 50px;
  line-height: 56px;
  color: #051655;
}
.section__text {
  font-weight: 375;
  font-size: 20px;
  line-height: 22px;
  color: #747887;
  max-width: 600px;
  margin-top: 10px;
}

.steps__numbers {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-bottom: 60px;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background: #E5E4E1;
  z-index: -1;
}
.progress__success {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background: #EB3D35;
  transition: 0.5s all ease;
}

.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 2px solid #E5E4E1;
  margin-right: 100px;
  flex-shrink: 0;
  background: #ffffff;
}
.step__number.active__number {
  background: #EB3D35;
  border: transparent;
  transition: 1s all ease;
}
.step__number.active__number path {
  fill: #ffffff;
  transition: 1s all ease;
}
.step__buttons {
  margin-top: 80px;
  gap: 20px;
  display: flex;
}

.form__step {
  display: none;
}
.form__step.active {
  display: flex;
  flex-direction: column;
}
.form__input {
  display: flex;
  position: relative;
  max-width: 460px;
}
.form__input.search__input {
  margin-top: 40px;
}
.form__item-title {
  font-style: normal;
  font-weight: 494;
  font-size: 25px;
  line-height: 28px;
  color: #051655;
  margin-top: 40px;
}

.input {
  padding: 20px 20px 20px 65px;
  width: 100%;
  border: 1px solid #E5E4E1;
  outline: none;
  font-style: normal;
  font-weight: 375;
  font-size: 18px;
  line-height: 20px;
  color: #747887;
}
.input:focus {
  outline: 1px solid #EB3D35;
}
.input__img {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
}

.radio__buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.radio__item {
  display: flex;
  max-width: 360px;
  width: 100%;
  padding: 10px;
  background: #F3F6F9;
  align-items: center;
  position: relative;
}
.radio__item .fake {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #EB3D35;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
}
.radio__item .fake::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #EB3D35;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.radio__item .text {
  font-style: normal;
  font-weight: 494;
  font-size: 20px;
  line-height: 22px;
  margin-left: 30px;
  color: #051655;
}
.radio__item .img {
  width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.radio__item .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.radio__item .border {
  position: absolute;
  border: 1px solid #EB3D35;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
}
.radio__input {
  display: none;
}
.radio__input:checked + .fake:after {
  opacity: 1;
}
.radio__input:checked ~ .border {
  opacity: 1;
}

.checkboxes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.checkbox__item {
  display: flex;
  max-width: 360px;
  width: 100%;
  padding: 10px;
  background: #F3F6F9;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__item .img {
  width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.checkbox__item .img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.checkbox__item .text {
  font-style: normal;
  font-weight: 494;
  font-size: 20px;
  line-height: 22px;
  margin-left: 30px;
  color: #051655;
}
.checkbox__item .fake {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #EB3D35;
  border-radius: 5px;
  margin-left: auto;
  position: relative;
}
.checkbox__item .fake:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: #EB3D35 url("../img/check.svg") no-repeat;
  background-position: center;
  border-radius: 5px;
  opacity: 0;
}
.checkbox__item .border {
  position: absolute;
  border: 1px solid #EB3D35;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: 1px solid #EB3D35;
  opacity: 0;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked ~ .fake:after {
  opacity: 1;
}
.checkbox__input:checked ~ .border {
  opacity: 1;
}

.file__uploader {
  display: flex;
  max-width: 1120px;
  width: 100%;
  gap: 40px;
  margin-top: 40px;
}
.file__uploader-item:first-child {
  flex: 0 1 360px;
}
.file__uploader-item:last-child {
  flex: 1 1 auto;
}
.file__label {
  display: flex;
  height: 360px;
  width: 360px;
  position: relative;
  background: #F3F6F9;
  border: 2px dashed #051655;
  cursor: pointer;
}
.file__input {
  display: none;
}
.file__item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.file__item-text {
  font-style: normal;
  font-weight: 494;
  font-size: 20px;
  line-height: 22px;
  color: #051655;
  margin-top: 30px;
}

.profile__inputs {
  margin-top: 17px;
}
.profile__input {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
.profile__input .input {
  width: 100%;
  display: flex;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interest__item {
  display: flex;
  padding: 15px 24px;
  background: #ffffff;
  border: 1px solid #E5E4E1;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.interest__checkbox {
  display: none;
}
.interest__checkbox:checked ~ .interest__text {
  color: #051655;
}
.interest__checkbox:checked ~ .interest__border {
  opacity: 1;
}
.interest__text {
  font-style: normal;
  font-weight: 494;
  font-size: 18px;
  line-height: 20px;
  color: #747887;
}
.interest__border {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #051655;
  opacity: 0;
}

.finish {
  display: none;
}
.finish__logo {
  margin-top: 50px;
}
.finish__title {
  font-style: normal;
  font-weight: 494;
  font-size: 50px;
  line-height: 56px;
  color: #051655;
  margin-top: 40px;
}
.finish__text {
  font-style: normal;
  font-weight: 375;
  font-size: 20px;
  line-height: 22px;
  color: #747887;
  margin-top: 10px;
}

.finish__btn {
  margin-top: 78px;
}/*# sourceMappingURL=style.css.map */